.courseRowTitle {
    float: left;
}

.courseRowAuthor {
padding-left: 10px;
}

.fa-trash {
margin-right: 5px;
}

.title{
    padding-left: 150px;
    float: left;
}

.ownedBy {
    padding-left: 25px;
}

.lastModified {
display: inline-list-item;
    padding-left: 110px;
    float: right;

}

.courseRowAuthor {
    display: inline-list-item;
    padding-right: 40px;
}


.list-group-item {
    display: inline-list-item;
}